%h3.show_title= @blogpost.title
%p.show_read= @blogpost.read + '[' + @blogpost.bloggenre.name + ']'
- contents = @blogpost.content.split "\n"
.show_content
%p.show_created
  (#{@blogpost.created_at});
