!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Miniblog
    = csrf_meta_tags
    = stylesheet_link_tag    'bloggenres', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'bloggenres', 'data-turbolinks-track': 'reload'
  %body
    = yield
